.custom-tab {
  border: none !important;
  background: transparent !important;
  color: #0d6efd !important;
  border-bottom: 3px solid transparent !important;
}

.active-tab {
  border-bottom: 3px solid #0d6efd !important;
}

.custom-tab:hover {
  border-bottom: 3px solid #0d6efd !important;
}